<!DOCTYPE html>
<html lang="en">
    <!-- <%- include('partials/header') -%> -->
<body>
    <!-- <div class="container">
        <form action="/demosuccess" method="POST">
            <input type="text" name="data" id="data">
            
        </form>
        <button id="submit">Submit</button>
        <p id="error"></p>
    </div> -->

    <p id="data"></p>



    <!-- <script src="js/authentication.js"></script> -->
    <script>
        // $("#submit").click(()=>{
        //     $("form").submit();
        // })

        // -----------------------------

        fetch("/list",(err,data)=>{
            $("#data").html(data);
        })
    </script>
</body>
</html>