<!DOCTYPE html>
<html lang="en">
    <%- include('header') -%>
<body>
    <div class="container">
        <form action="/demosuccess" method="POST">
            <input type="text" name="data" id="data">
            
        </form>
        <button id="submit">Submit</button>
        <p id="error"></p>
    </div>

    <script src="js/authentication.js"></script>
    
</body>
</html>