<form class="form-element" method="POST" action="/success">
    <div class="form-row">
      <div class="col-md-8 mb-2">
        <label for="prn">16 Digit PRN</label>
        <input type="text" class="form-control" id="prn" name="prn" placeholder="16 Digit PRN" required>
      </div>
      <div class="col-md-4 mb-2">
        <label for="phoneno">Phone Number</label>
        <input type="text" class="form-control" id="phoneno" name="phoneno" placeholder="Phone Number" required>
      </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="middlename">Middle Name</label>
          <input type="text" class="form-control" id="middlename" name="middlename"  placeholder="Middle Name" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" id="lastname"  name="lastname" placeholder="Last Name" required>
        </div>
      </div>
    <!-- ----------- -->
    <div class="form-row">
    <div class="col-md-8 mb-2">
      <label for="date">Date of Birth</label>
      <input type="date" class="form-control" id="date" name="date" placeholder="Date Of Birth" required>
    </div>
    <div class="col-md-4 mb-2">
      <label for="">Gender</label>
      <br>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="male" name="gender" value="male" class="custom-control-input" required>
        <label class="custom-control-label" for="male">Male</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="female" name="gender" value="female" class="custom-control-input" required> 
        <label class="custom-control-label" for="female">Female</label>
      </div>
    </div>
  </div>
    
  <div class="form-group">
    <label for="branch">Branch</label>
    <select class="form-control" id="branch" name="branch">
      <option>Computer Science and Engineering</option>
      <option>Mechanical Engineering</option>
      <option>Electrical Engineering</option>
      <option>Electronics Engineering</option>
      <option>Civil Engineering</option>
      <option>Instrumentation Engineering</option>
    </select>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-2">
      <label for="academicyear">Academic Year</label>
    <select class="form-control" id="academicyear" name="academicyear" required>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    </div>
    <div class="col-md-8 mb-2">
      <label for="marks">Last Semester Marks</label>
      <input type="text" class="form-control" id="marks" name="marks" placeholder="Last Sem Marks / 12th Marks / Diploma Marks" required>
    </div>
  </div>

  <div class="form-group">
    
  </div>

    <!-- ---------- -->
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" placeholder="City" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" id="zip" name="zip" placeholder="Zip" required>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="terms" required>
        <label class="form-check-label" for="terms">
          I hereby declare that the information provided is true and correct. I also understand that any willful
dishonesty may render for refusal of this application or may charge you some penalty.
        </label>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>