<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%= msg %>
        <div id="list"></div>
        <script>
            let list = [];
            const pull = async () => {
                const response = await fetch("/list", {
                    method: 'GET', headers: {
                        'Content-Type': 'application/json'
                    }, body: JSON.stringify({"branch":"cse","year":"first"})
                })
                const data = await response.arrayBuffer()
                
                let str = "Demo"
                data.forEach((element) => {
                    str += `<p>${element._id}</p>`;
                    console.log(element._id);
                })

                $("#list").html(str);

            }

            pull();


            // list.forEach((element) => {
            //     console.log(element.prn);
            // });
        </script>
</body>

</html>