<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>
<body>

    <%- include('partials/navbar') -%>

    <div class="successCenter">
        <h1><%= msg %></h1>
    </div>
    <!-- <a href="/login">login</a> -->

    
    
</body>
</html>