body{
    margin: 0;
    padding: 0;
}


.form-div{
    width: 60%;
}
.form-element{
    margin-top: 40px;
}

label{
    font-weight: bold;
    color: #333;
}

.successCenter{
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.errorMessage{
    margin: 10px auto !important;
    color: rgba(255, 0, 0, 0.897);
    background-color: rgb(252, 252, 196);
}

.submitCenter{
    padding: 10px auto;
    margin: 50px auto;
    text-align: center;
    justify-content: center;
}

.insideform{
    display: none;
}