body{
    margin: 0;
    padding: 0;
}


.form-div{
    width: 60%;
}
.form-element{
    margin-top: 40px;
}

label{
    font-weight: bold;
    color: #333;
}

.successCenter{
    width: 80%;
    margin: 30px auto;
    text-align: center;
}